body {
    background: url("../control/static/image/bg.png");
    padding: 5px;
}

.body-all {

}

.table-btn {
    float: right;
    padding: 3px;
    margin-right: 20px;
}

.table-div {
    margin-top: 45px;
}

