<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apsmgr.dao.AttendanceDao" >
  <resultMap id="BaseResultMap" type="com.apsmgr.bo.AttendanceBo" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="attendance_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attendance_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attendance_mode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="object_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="remarks" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="class_define" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="update_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="produce_resource" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, attendance_no, attendance_code, attendance_mode, object_id, remarks, class_define,
    update_time, produce_resource
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from aps_attendance
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAllAttendance" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from aps_attendance
  </select>
  <delete id="deleteBatch" parameterType="java.util.List" >
    delete from aps_attendance
    where attendance_no IN
    <foreach collection="list" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.apsmgr.bo.AttendanceBo" >
    insert into aps_attendance (attendance_no, attendance_code,
      attendance_mode, object_id, remarks,
      class_define, update_time, produce_resource
      )
    values (#{attendanceNo,jdbcType=VARCHAR}, #{attendanceCode,jdbcType=VARCHAR},
      #{attendanceMode,jdbcType=VARCHAR}, #{objectId,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR},
      #{classDefine,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{produceResource,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.apsmgr.bo.AttendanceBo" >
    update aps_attendance
    set
    attendance_code = #{attendanceCode,jdbcType=VARCHAR},
    attendance_mode = #{attendanceMode,jdbcType=VARCHAR},
    object_id = #{objectId,jdbcType=INTEGER},
    remarks = #{remarks,jdbcType=VARCHAR},
    class_define = #{classDefine,jdbcType=VARCHAR},
    update_time = #{updateTime,jdbcType=VARCHAR},
    produce_resource = #{produceResource,jdbcType=VARCHAR}
    where attendance_no = #{attendanceNo,jdbcType=VARCHAR}
  </update>
  <insert id="insertSelective" parameterType="com.apsmgr.bo.AttendanceBo" >
    insert into aps_attendance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="attendanceNo != null" >
        attendance_no,
      </if>
      <if test="attendanceCode != null" >
        attendance_code,
      </if>
      <if test="attendanceMode != null" >
        attendance_mode,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="classDefine != null" >
        class_define,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="produceResource != null" >
        produce_resource,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="attendanceNo != null" >
        #{attendanceNo,jdbcType=VARCHAR},
      </if>
      <if test="attendanceCode != null" >
        #{attendanceCode,jdbcType=VARCHAR},
      </if>
      <if test="attendanceMode != null" >
        #{attendanceMode,jdbcType=VARCHAR},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="classDefine != null" >
        #{classDefine,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="produceResource != null" >
        #{produceResource,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apsmgr.bo.AttendanceBo" >
    update aps_attendance
    <set >
      <if test="attendanceNo != null" >
        attendance_no = #{attendanceNo,jdbcType=VARCHAR},
      </if>
      <if test="attendanceCode != null" >
        attendance_code = #{attendanceCode,jdbcType=VARCHAR},
      </if>
      <if test="attendanceMode != null" >
        attendance_mode = #{attendanceMode,jdbcType=VARCHAR},
      </if>
      <if test="objectId != null" >
        object_id = #{objectId,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="classDefine != null" >
        class_define = #{classDefine,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="produceResource != null" >
        produce_resource = #{produceResource,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>