<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apsmgr.dao.OrderDao" >
  <resultMap id="BaseResultMap" type="com.apsmgr.bo.OrderBo" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="order_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_diffrence" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="items" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="delivery_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="customer" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="priority" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="dispaly_color" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="remarks" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="start_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="end_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="earliest_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="latest_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="produce_effic" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="actual_start" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="actual_end" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="actual_quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, order_code, order_type, order_diffrence, items, order_time, delivery_time,
    order_quantity, customer, priority, dispaly_color, remarks, start_time, end_time,
    earliest_time, latest_time, order_status, produce_effic, actual_start, actual_end,
    actual_quantity
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from aps_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAllOrder" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from aps_order
  </select>
  <delete id="deleteBatch" parameterType="java.util.List" >
    delete from aps_order
    where order_no IN
    <foreach collection="list" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.apsmgr.bo.OrderBo" >
    insert into aps_order (order_no, order_code,
    order_type, order_diffrence, items,
    order_time, delivery_time, order_quantity,
    customer, priority, dispaly_color,
    remarks, start_time, end_time,
    earliest_time, latest_time, order_status,
    produce_effic, actual_start, actual_end,
    actual_quantity)
    values (#{orderNo,jdbcType=VARCHAR}, #{orderCode,jdbcType=VARCHAR},
    #{orderType,jdbcType=VARCHAR}, #{orderDiffrence,jdbcType=VARCHAR}, #{items,jdbcType=VARCHAR},
    #{orderTime,jdbcType=VARCHAR}, #{deliveryTime,jdbcType=VARCHAR}, #{orderQuantity,jdbcType=INTEGER},
    #{customer,jdbcType=VARCHAR}, #{priority,jdbcType=INTEGER}, #{dispalyColor,jdbcType=INTEGER},
    #{remarks,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR},
    #{earliestTime,jdbcType=VARCHAR}, #{latestTime,jdbcType=VARCHAR}, #{orderStatus,jdbcType=VARCHAR},
    #{produceEffic,jdbcType=INTEGER}, #{actualStart,jdbcType=VARCHAR}, #{actualEnd,jdbcType=VARCHAR},
    #{actualQuantity,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.apsmgr.bo.OrderBo" >
    update aps_order
    set
    order_code = #{orderCode,jdbcType=VARCHAR},
    order_type = #{orderType,jdbcType=VARCHAR},
    order_diffrence = #{orderDiffrence,jdbcType=VARCHAR},
    items = #{items,jdbcType=VARCHAR},
    order_time = #{orderTime,jdbcType=VARCHAR},
    delivery_time = #{deliveryTime,jdbcType=VARCHAR},
    order_quantity = #{orderQuantity,jdbcType=INTEGER},
    customer = #{customer,jdbcType=VARCHAR},
    priority = #{priority,jdbcType=INTEGER},
    dispaly_color = #{dispalyColor,jdbcType=INTEGER},
    remarks = #{remarks,jdbcType=VARCHAR},
    start_time = #{startTime,jdbcType=VARCHAR},
    end_time = #{endTime,jdbcType=VARCHAR},
    earliest_time = #{earliestTime,jdbcType=VARCHAR},
    latest_time = #{latestTime,jdbcType=VARCHAR},
    order_status = #{orderStatus,jdbcType=VARCHAR},
    produce_effic = #{produceEffic,jdbcType=INTEGER},
    actual_start = #{actualStart,jdbcType=VARCHAR},
    actual_end = #{actualEnd,jdbcType=VARCHAR},
    actual_quantity = #{actualQuantity,jdbcType=INTEGER}
    where order_no = #{orderNo,jdbcType=VARCHAR}
  </update>

</mapper>