<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apsmgr.dao.ProduceDao" >
  <resultMap id="BaseResultMap" type="com.apsmgr.bo.ProduceBo" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="produce_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="resource" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="produce_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attendance_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="priority" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="res_amout" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="show_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="other_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="common_remark" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="object" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="obj_define" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="default_marker" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reason_def_marker" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="change_marker_inside" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="change_marker_outside" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="change_date" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="parent_object" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sub_object" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="imported_object" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="right_input_obj_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="left_associated_obj_id" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, produce_no, resource, produce_time, attendance_code, priority, res_amout, remark, show_name,
    other_name, common_remark, object, obj_define, default_marker, reason_def_marker,
    change_marker_inside, change_marker_outside, change_produce_time, parent_object, sub_object,
    imported_object, right_input_obj_id, left_associated_obj_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from aps_produce
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAllProduce" resultMap="BaseResultMap">
    select
    *
    from aps_produce
  </select>
  <delete id="deleteBatch" parameterType="java.util.List" >
    delete from aps_produce
    where produce_no in
    <foreach collection="list" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.apsmgr.bo.ProduceBo" >
    insert into aps_produce (produce_no, resource,
    produce_time, attendance_code, priority,
    res_amout, remark, show_name,
    other_name, common_remark, object,
    obj_define, default_marker, reason_def_marker,
    change_marker_inside, change_marker_outside,
    change_produce_time, parent_object, sub_object,
    imported_object, right_input_obj_id, left_associated_obj_id
    )
    values (#{produceNo,jdbcType=VARCHAR}, #{resource,jdbcType=VARCHAR},
    #{produceTime,jdbcType=VARCHAR}, #{attendanceCode,jdbcType=VARCHAR}, #{priority,jdbcType=VARCHAR},
    #{resAmout,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{showName,jdbcType=VARCHAR},
    #{otherName,jdbcType=VARCHAR}, #{commonRemark,jdbcType=VARCHAR}, #{object,jdbcType=VARCHAR},
    #{objDefine,jdbcType=VARCHAR}, #{defaultMarker,jdbcType=VARCHAR}, #{reasonDefMarker,jdbcType=VARCHAR},
    #{changeMarkerInside,jdbcType=VARCHAR}, #{changeMarkerOutside,jdbcType=VARCHAR},
    #{changeDate,jdbcType=VARCHAR}, #{parentObject,jdbcType=VARCHAR}, #{subObject,jdbcType=VARCHAR},
    #{importedObject,jdbcType=VARCHAR}, #{rightInputObjId,jdbcType=VARCHAR}, #{leftAssociatedObjId,jdbcType=VARCHAR}
    )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.apsmgr.bo.ProduceBo" >
    update aps_produce
    set
    resource = #{resource,jdbcType=VARCHAR},
    produce_time = #{produceTime,jdbcType=VARCHAR},
    attendance_code = #{attendanceCode,jdbcType=VARCHAR},
    priority = #{priority,jdbcType=VARCHAR},
    res_amout = #{resAmout,jdbcType=VARCHAR},
    remark = #{remark,jdbcType=VARCHAR},
    show_name = #{showName,jdbcType=VARCHAR},
    other_name = #{otherName,jdbcType=VARCHAR},
    common_remark = #{commonRemark,jdbcType=VARCHAR},
    object = #{object,jdbcType=VARCHAR},
    obj_define = #{objDefine,jdbcType=VARCHAR},
    default_marker = #{defaultMarker,jdbcType=VARCHAR},
    reason_def_marker = #{reasonDefMarker,jdbcType=VARCHAR},
    change_marker_inside = #{changeMarkerInside,jdbcType=VARCHAR},
    change_marker_outside = #{changeMarkerOutside,jdbcType=VARCHAR},
    change_date = #{changeDate,jdbcType=VARCHAR},
    parent_object = #{parentObject,jdbcType=VARCHAR},
    sub_object = #{subObject,jdbcType=VARCHAR},
    imported_object = #{importedObject,jdbcType=VARCHAR},
    right_input_obj_id = #{rightInputObjId,jdbcType=VARCHAR},
    left_associated_obj_id = #{leftAssociatedObjId,jdbcType=VARCHAR}
    where produce_no = #{produceNo,jdbcType=VARCHAR}
  </update>

</mapper>