<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apsmgr.dao.UserDao">
    <update id="updateUser" parameterType="com.apsmgr.bo.UserBo">
        UPDATE user
        SET
        real_name = #{realName},address = #{address},telephone = #{telephone},enterprise = #{enterprise},
        mail = #{mail}
    </update>
</mapper>